<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">
<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
<base href="/">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5257f58f1b.js"></script>
<script src="/js/collections.js"></script>
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AcBSEwoQn_2c1VJ_LtoMWrbWLUGuU8Ycie7uJoo7GxdvMdK1Aux1IhQ1P2OS81Sn805JiZ00o3ZlNyY8&currency=USD"></script>
<!--<script src="https://www.paypal.com/sdk/js?client-id=AYCTlwOZjiBLNKvMt_l9T76fEctPt2w_cu6b_Og6r11nX0loNmKH7HO9axw4z2-RuYIGTdvHUJBtaxTy&currency=USD"></script>-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/checkout.css">
<title>Pandesal Brad</title>
</head>
<body ng-app="collectionsPage">
<div ng-include="'navbar.html'">
</div>
<div class="body container" ng-controller="checkoutPageController" ng-init="getCheckoutTotal(); getAccountInfo(); getShippingInfo(); loadStates();">
    <div class="row mt-5">
        <div class="step-header">
            <h4>1. Customer Information</h4>
        </div>
    </div>
    <div class="row">
        <form name="accountInfo" class="user-form"  ng-show="accountInfo.$invalid || customerFlag" novalidate class="css-form">
            <div class="form-group">
                <h5>Firstname</h5>
                <input type="text" placeholder="Firstname" ng-model="account.Firstname" required>
            </div>
            <div class="form-group">
                <h5>Lastname</h5>
                <input type="text" placeholder="Lastname" ng-model="account.Lastname" required>
            </div>
            <div class="form-group">
                <h5>Email</h5>
                <input type="text" placeholder="Email" ng-model="account.Email" required>
            </div>
            <div class="form-group">
                <input type="submit" name="setCustomer" ng-disabled="accountInfo.$invalid" ng-click="editCustomer(false)" value="Next"/>
            </div>
        </form>
        <div class="border border-dark p-2" ng-show="accountInfo.$valid && !customerFlag">
            <p class="m-0">{{account.Firstname}} {{account.Lastname}}</p>
            <p class="m-0">{{account.Email}}</p>
            <div class="text-right">
                <a href="#" class="text-primary" ng-click="editCustomer(true)">Change</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="step-header">
            <h4>2. Shipping Information</h4>
        </div>
    </div>
    <div class="row">
        <form name="shippingInfo" class="user-form" ng-show="shippingInfo.$invalid || shippingFlag" novalidate class="css-form">
            <div class="alert alert-success" ng-if="message != null"><b>{{message}}</b></div>
            <div class="form-group">
                <h5>Address</h5>
                <input type="text" placeholder="Address" ng-model="shipping.Address" required>
            </div>
            <div class="form-group">
                <h5>City</h5>
                <input type="text" placeholder="City" ng-model="shipping.City" required>
            </div>
            <div class="form-group">
                <h5>State</h5>
                    <select ng-model="shipping.State" ng-options="state.Abbreviation for state in states track by state.StateID" required></select>                
            </div>
            <div class="form-group">
                <h5>ZIP Code</h5>
                <input type="text" placeholder="ZIP Code" ng-model="shipping.Zipcode" required>
            </div>
            <input type="hidden" ng-model="shipping.AddressID">
            <div class="form-group">
                <input type="submit" name="setAddress" ng-disabled="shippingInfo.$invalid" ng-click="setAddress(false); editShipping(false)" value="Use This Address"/>
            </div>
        </form>
        <div class="border border-dark p-2" ng-show="shippingInfo.$valid && !shippingFlag">
            <p class="m-0">{{shipping.Address}}</p>
            <p class="m-0">{{shipping.City}}, {{shipping.Abbreviation}} {{shipping.Zipcode}}</p>
            <div class="text-right">
                <div class="text-right">
                    <a href="#" class="text-primary" ng-click="editShipping(true)">Change</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="step-header">
            <h4>3. Confirm Total</h4>
        </div>
    </div>
    <hr>
    <div class="row mb-5">
        <div class="summary user-form" ng-show="!customerFlag && !shippingFlag && accountInfo.$valid && shippingInfo.$valid">
            <div class="alert alert-success" ng-if="payMessage != null"><b>{{payMessage}}</b></div>
            <h4>Confirm Order Total</h4>
            <p>Item Total: ${{shoppingCart.total | number : fractionSize}}</p>
            <p ng-show="bulkDiscount > 0">Bulk Discount: -${{bulkDiscount | number : fractionSize}}</p>
            <p ng-show="promotionalDiscount > 0">Promotional Discount: -${{promotionalDiscount | number : fractionSize}}</p>
            <p>Shipping: ${{shippingTotal | number : fractionSize}}</p>
            <p>Tax: ${{taxTotal | number : fractionSize}}</p>
            <hr>
            <p>Order Total: ${{subtotal | number : fractionSize}}</p>
            <br>
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>
            <div class="p-2">
                <form ng-submit="applyCoupon()">
                    <input type="string" ng-model="coupon" placeholder="Coupon Code"><button type="submit">Apply</button>
                    <p class="text-small text-right">{{couponMessage}}</p>
                </form>
            </div>
        </div>
        <div class="text-danger" ng-show="shippingInfo.$invalid || accountInfo.$invalid">Please Fill In Customer and Shipping Information!</div>
    </div>
</div>
<div ng_include="'footer.html'"></div>
</body>
</html>
