<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">
<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
<base href="/">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5257f58f1b.js"></script>
<script src="/js/collections.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/user.css">
<title>Pandesal Brad</title>
</head>
<body ng-app="collectionsPage">
<div ng-include="'navbar.html'">
</div>
<div class="container" ng-controller="usersPageController" ng-init="loadUsers()">
    <div class="row">
        <div class="alert alert-success" ng-if="message != null">{{message}}</div>
        <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
               <th scope="row"></th>
               <td ng-if="user.UserID != null">
                   {{user.Username}}
               </td>
               <td>
                   <form action="/php/editPermissions.php" method="post">
                      <select name="roleID" ng-init="loadRoles()" ng-model="user.selected" ng-options="role.Role for role in roles track by role.RoleID">
                      </select>
                      <input type="hidden" ng-value="user.UserID" name="userID">
                      <button class="btn btn-primary btn-xs" type="submit" name="permissions"><i class="fas fa-check"></i></button>
                   </form>
               </td>
               <td class="user-delete" ng-click="deleteUser(user.UserID)">x</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
</body>
<footer>
<div ng_include="'footer.html'"></div>
</footer>
</html>
