<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">
<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5257f58f1b.js"></script>
<script src="/js/collections.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/products.css">
<title>Pandesal Brad</title>
</head>
<body ng-app="collectionsPage">
<div ng-include="'navbar.html'">
</div>
<div class="container" ng-controller="productPageController" ng-init="loadProduct()">
    <div class="row">
        <div class="col-md-4 col-sm-6 p-2">
            <img ng-src="/images/{{product.Image}}" class="sticker mx-auto img-responsive"/>
            <h4 class="name-label text-info">{{product.Name}}</h4>
        </div>
        <div class="col-md-4 col-sm-6 p-2 align-self-center">
            <h4 class="inline-header">Make Selection</h4>
            <select name="category" ng-init="loadItems()" ng-change="makeSelection()" ng-model="selected" ng-options="selection.Name for selection in items">
                </select>
            <h4 class="price-label text-danger" ng-show="item != null">{{item.Price}}</h4>
            <ul class="list-group list-group-horizontal" ng-show="options != null">
                <li ng-class="{active: $index == activeOption}" ng-click="setActiveOption($index)" class="mx-2 option-text list-group-item" ng-repeat="option in options">{{option.Name}}</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6 p-1 align-self-end">
            <input type="button" name="add_to_cart" ng-disabled="item == null" ng-click="addToCart(item.ItemID)" class="btn btn-success form-control" value="Add to Cart"/>
        </div>
    </div>
</div>
</body>
<footer>
<div ng-include="'footer.html'"></div>
</footer>
</html>
