<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">
<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
<base href="/">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5257f58f1b.js"></script>
<script src="/js/collections.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/upload.css">
<title>Pandesal Brad</title>
</head>
<body ng-app="collectionsPage">
<div ng-include="'navbar.html'">
</div>
<div class="container" ng-controller="uploadPageController" ng-init="loadCollections()">
    <div class="row">
        <form class="user-form mt-5 mb-5 mx-auto py-3" action="/php/uploadProduct.php" method="post" enctype="multipart/form-data">
            <div class="alert alert-success" ng-if="status == 'success'"><b>Success: {{message}}</b></div>
            <div class="alert alert-danger" ng-if="status == 'fail'"><b>Error: {{message}}</b></div>
            <div class="form-group">
                <h3>Upload Product</h3>
            </div>
            <div class="image-info" ng-show="showImage">
                <img class="product-image" src="{{previewData.data}}" />
                <div class="preview-data">
                    <div><b>Name:</b> {{previewData.name}}</div>
                    <div><b>Type:</b> {{previewData.type}}</div>
                    <div><b>Size:</b> {{previewData.size}}</div>
                </div>
                <div class="action-button">
                    <i class="fa fa-close remove-image" ng-click=removeInput()></i> 
                </div>
            </div>
            <div class="form-group">
                <input type="file" onchange="angular.element(this).scope().readInput(this)" id="image-file" name="uploadedImage" accept="image/png, image/jpeg"/>
            </div>
            <div ng-show="showImage">
                <div class="form-group">
                    <h4>Product Name</h4>
                    <input type="text" ng-model="productName" placeholder="Product Name" name="pname" required>
                </div>
                <div class="form-group">
                    <h4>Image Name</h4>
                    <input type="text" ng-model="imageName" placeholder="Image Name" name="iname" required>
                </div>
                <div class="form-group">
                    <h4>Price</h4>
                    <input type="number" min="0.00" step="0.01" placeholder="5.99" name="price" required>
                </div>
                <div class="form-group">
                    <h4>Category</h4>
                    <select name="category">
                        <option ng-repeat="collection in collections" value="{{collection.CollectionID}}">{{collection.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" name="upload">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<footer>
<div ng_include="'footer.html'"></div>
</footer>
</html>
