<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">
<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
<base href="/">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5257f58f1b.js"></script>
<script src="/js/collections.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/upload.css">
<title>Pandesal Brad</title>
</head>
<body ng-app="collectionsPage">
<div ng-include="'navbar.html'">
</div>
<div class="body container" ng-controller="formatsPageController" ng-init="loadFormats(); loadShippingMethods();">
    <div class="row">
        <form name="format" class="user-form my-5 mx-auto py-3" action="/php/uploadFormat.php" method="post">
            <div class="alert alert-success" ng-if="status == 'success'"><b>Success: {{message}}</b></div>
            <div class="alert alert-danger" ng-if="status == 'fail'"><b>Error: {{message}}</b></div>
            <div class="form-group">
                <h3>Edit Format</h3>
            </div>
            <div class="form-group">
                <h4>Format</h4>
                <select name="format" ng-change="setFormat()" ng-model="selected" ng-options="format.Name for format in formats track by format.FormatID">
                </select>
                <div class="action-button">
                    <i class="fa fa-plus remove-image image-small" title="Add Format" ng-click=addFormat()></i> 
                    <i class="fa fa-minus remove-image image-small" title="Remove Format" ng-show="selected != null" ng-click=deleteFormat(formatID)></i> 
                </div>
            </div>
            <div class="form-group">
                <h4>Name</h4>
                <input name="name" type="text" placeholder="Name" ng-model="name" required>
            </div>
            <div class="form-group">
                <h4>Freebie</h4>
                <input name="freebie" type="number" ng-model="freebie" min="0" step="1" required>
            </div>
            <!-- Hidden field to send format ID if needed -->
            <input type="hidden" ng-value="formatID" name="formatID">
            <div class="form-group">
                <h4 class="inline-header">Background</h4>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#background-form">
                    <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                </button>
                <div id="background-form" class="user-form collapse">
                    <input type="hidden" ng-value="backgroundID" name="backgroundID">
                    <div class="form-group">
                        <h5>Name</h5>
                        <input name="background" type="text" ng-model="background">      
                    </div>
                    <div class="form-group">
                        <h5>Scale</h5>
                        <input name="scale" type="number" ng-model="scale" min="0.00" max="1.00" step="0.01">      
                    </div>
                    <div class="form-group">
                        <h5>X Position</h5>
                        <input name="xPos" type="number" ng-model="xPos" min="0.00" max="1.00" step="0.01">      
                    </div>
                    <div class="form-group">
                        <h5>Y Position</h5>
                        <input name="yPos" type="number" ng-model="yPos" min="0.00" max="1.00" step="0.01">       
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4>Default Price</h4>
                <input name="defaultPrice" type="number" ng-model="defaultPrice" min="0.01" step="0.01" required>      
            </div>
            <div class="form-group">
                <h4>Shipping Method</h4>
                <select name="method" ng-model="method" ng-options="method.Name for method in methods track by method.ShippingID">
                </select>
            </div>
            <div class="form-group">
                <button type="submit" name="save">Save</button>
            </div>
        </form>
    </div>
</div>
<div ng_include="'footer.html'"></div>
</body>
</html>