.sticker {
    height: 100%;
    width: 100%;
    display: block;
    align-content: center;
    padding: 1.5em;
}

.name-label {
    text-align: center;
}

.price-label::before {
    content: "$";
}

canvas {
    width: 100%;
    height: auto;
}

.option-text {
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.filter-box {
    position: fixed;
    overflow: auto;
    align-items: flex-start;
    height: auto;
    z-index: 1;
}

.product-info {
    padding: 1em;
    border: 1px solid #ccc;
}

.product-panel {
    background-color: var(--header-color);
}