.sticker {
    height: 250px;
    width: 250px;
    display: block;
    align-content: center;
    padding: 1.5em;
}

.name-label {
    text-align: center;
}

.price-label::before {
    content: "$";
}

.option-text {
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.filter-box {
    position: fixed;
    overflow: auto;
    align-items: flex-start;
    height: auto;
    z-index: 1;
}