.product-image {
    height: 200px;
    width: 200px;
    align-content: center;
    padding: 1.5em;
}

.image-info {
    margin-right: 2em;
    margin-left: 2em;
}

.preview-data {
    display: inline-block;
}

.action-button {
    display: inline-block;
}

.list-box {
    height: 14em;
}

.list-box > p {
    border-bottom: 1px dashed #484b66;
}

.dual-box {
    border: 2px solid #484b66;
    border-radius: 1rem;
    padding: 0.5rem;
}

.dual-box ul {
    min-height: 10em;
    max-height: 10em;
    overflow: auto;
}

.dual-box li {
    cursor: pointer;
}

.dual-box li:hover {
    background-color: #008CBA;
    color: white;
}

.remove-image {
    border: 2px solid #5B93F5;
    border-radius: 50%;
    line-height: 1.7em;
    height: 2em;
    width: 2em;
    cursor: pointer;
    color: #5B93F5;
    text-align: center;
    margin: 1em;
}

.remove-image:hover {
    border: 2px solid red;
}

.image-small {
    font-size: 0.75rem;
}

.file-upload::-webkit-file-upload-button {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    background-color: #2f3259;
    border-color: #2f3259;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    display: inline-block;
    -webkit-user-select: none;
    cursor: pointer;
}